*{
    margin : 0%;
    padding : 0%;
    box-sizing: border-box;
}
 
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 32, 32);
}

header{
    display: flex;
    margin: 10px;
    margin-top: 25px;
    margin-left: 20px;
    position: fixed;
}
header a{
    margin: 24 px;
    margin-right: 10px;
    color: rgb(248, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight:100;
}

#rightheader{
    display: flex;
    margin-left: 1500px;
}

#rightheader a{
    margin-right: 20px;
}
#logo{
    width: 100%;
    height: auto;
}

#Glogo{
    size: 500px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

