*{
    margin : 0%;
    padding : 0%;
    box-sizing: border-box;
}
 
html,body{
    width: 100%;
    height: 100%;
}

body,html{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.shape{
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#square:hover{
    background-color: red;
}

#circle{
    border-radius: 50%;
}

#circle:hover{
    background-color: rgb(57, 57, 210);
}

#diamond{
    rotate: 45deg;
    margin-top: 50px;
}

#diamond:hover{
    background-color: purple;
}

#num{
    rotate: -45deg;
}